# vs crap
.vs/

# ignore all make dependency files
*.d
*.o
*.7z
*.ncb
*.ilk
*.opt
*.plg
*.suo
*.user
*.aps
*.dbg
*.clwbin/
# ignore all the windows binaries - they shouldn't be committed! 
Debug/
debug_gl/
Release/
release_gl/
GL Debug ASAN/
GL Debug/
out.txt
gas2masm.exe
gas2masm.ilk
qw.exe
qwdosfx.exe
qdos.exe
qdosfx.exe
wqdos.exe
wqwdos.exe
glquake2.exe
glqw2.exe
gspydos.exe
# glide3x and mesa leftovers that are generated during compile
fxgasm.h
fxbldno.h
fxgasm.exe
fsbldno.exe
fxinline.h
gendate.h
#matypes.h

# PVS Studio
*.PVS-Studio.*
*.suppress
*.xcuserstate
*.xcscheme
*.xcbkptlist
